@import "./variables.scss";

body {
    margin: 0;
    padding: 0;
    font-family: $ff-Display;
    font-size: $font-20px;
    color: $color-black;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    background-color: $color-transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
}

.container {
    margin: $container-mr-big;
    padding: $container-pd-big;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: $font-65px;
    font-weight: $fw-400;
}

.btn {
    padding: 16px 35px;
    font-family: $ff-Inter;
    font-size: $font-14px;
    border-radius: 50px;
    box-shadow: none;
    text-transform: uppercase;
    transform: scale(1);
    transition: all 0.5s linear 0s;
    cursor: pointer;

    &-white {
        background-color: $color-white;
        color: $color-black;
    }

    &-dark {
        background-color: $color-black;
        color: $color-white;
    }

    &-small {
        padding: 16px 35px;
        font-size: $font-14px;
    }

    &-big {
        padding: 18px 45px;
        font-size: $font-16px;
        line-height: $lh-1-62;
    }

    &-up {
        width: 40px;
        display: none;
        position:fixed;
        right: 15px;
        bottom: 15px;
        cursor: pointer;
      
        img {
            width: $w100;
        }
    }
}

.contact-details {
    display: flex;

        &-img {
            margin-right: 8px;
            width: 40px;
            height: 40px;
        }

        img {
            width: $w100;
        }
        
        a {
            font-size: $font-26px;
            color: $color-white;
        }
}

.contact-details:hover, .btn:hover, .social-media a:hover, .header__link:hover {
    opacity: 0.5;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-black,.7);
    z-index: 300;
    overflow-x: hidden;
    overflow-y: auto;
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);

    &__wrap {
        padding: 40px;
        max-width: 480px;
        background: $color-white;
        min-width: 200px;
        margin: 30px auto 30px;
        overflow: auto;
        position: relative;
        border-radius: 8px;
        transition-property: margin;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.23,1,.32,1);
    }

    &__field {
        margin: 18px 0;
        padding: 7px 10px;
        width: $w100;
        font-family: $ff-Inter;
        font-size: $font-18px;
        font-weight: $fw-300;
        line-height: $lh-155;
        color: $color-gray;
        border: 1px solid $color-gray-light;
        height: auto;
        border-radius: 6px;
    }

    &__close {
        width: 16px;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: 15px;
        right: 15px;
        transition-property: color;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.23,1,.32,1);

        img {
            width: $w100;
        }
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 15px;
        font-family: $ff-Inter;
        font-size: $font-36px;
        font-weight: $fw-400;
        line-height: $lh-130;
    }

    textarea {
        width: 95%;
        resize: none;
        overflow: auto;
    }

    &__btn {
        width: $w100;
        color: $color-white;
        background-color: $color-black;
    }

    &__error {
        display: none;
        font-family: $ff-Inter;
        font-size: $font-16px;
    }

    &-success {
        font-family: $ff-Inter;
        font-size: $font-20px;
        color: $color-black;
    }
}

.header {
    background-color: $color-blue;
    color: $color-white;

    &__menu {
        display: flex;
        justify-content: space-between;
       
    }

    &__link {
        padding: 20px 30px;
        font-family: $ff-Inter;
        font-weight: $fw-400;
        font-size: $font-17px;
        text-transform: uppercase;
        color: $color-white;
    }
}

.offer {
    color: $color-white;
    background-color: $color-blue;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 60%;
    }

    &__title {
        font-size: $font-75px;
        font-weight: $fw-400;
        line-height: $lh-75;
    }

    &__text {
        margin: 60px 0;
        font-family: $ff-Inter;
        font-weight: $fw-300;
        font-size: $font-21px;
    }

    &__image {
        margin-top: 100px;
        width: 360px;
        max-height: 756px;

        img {
            width: $w100;
        }
    }
}

.about {
    background-color: $color-gray-light;

    .container {
        h3 {
            margin-bottom: 45px;
            width: 65%;
            font-size: $font-36px;
            font-weight: $fw-400;
            line-height: $lh-46;
        }
    
        div {
            margin-bottom: 35px;
            width: 65%;
            font-family: $ff-Inter;
            font-weight: $fw-300;
            font-size: $font-17px;
        }
    }

    &__btn {
        margin-top: 10px;
    }
}

.services {
    background-color: $color-blue;
    color: $color-white;

    h2 {
        padding-bottom: 30px;
        border-bottom: 2px solid $color-white;
    }

    &__service {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $color-white;

        &-title {
            width: 20%;
            font-weight: $fw-400;
            font-size: $font-36px;
            line-height: $lh-40;
        }

        &-text {
            width: 50%;
            font-family: $ff-Inter;
            font-size: $font-17px;
            line-height: $lh-162;
        }
    }

    &__btn {
        width: 18%;
        max-height: 58px;
    }
}

.quote {
    background-color: $color-gray-light;

    &__item {
        margin-bottom: 45px;
        font-weight: $fw-400;
        font-size: $font-36px;
        line-height: $lh-124;
    }

    &__author {
        font-family: $ff-Inter;
        font-weight: $fw-300;
        font-size: $font-17px;
        line-height: $lh-162;
    }
}

.prices {
    background-color: $color-blue;
    color: $color-white;

    &__subtitle {
        margin-top: 20px;
        font-family: $ff-Inter;
        font-weight: $fw-300;
        font-size: $font-17px;
        line-height: $lh-162;
    }

    &__table {
        margin: 50px 0;

        &-title {
            padding: 20px 15px;
            font-family: $ff-Inter;
            font-size: $font-17px;
            line-height: $lh-21;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-right: 1px solid $color-gray-light;
            border-left: 1px solid $color-gray-light;
            border-top: 1px solid $color-gray-light;
        }

        &-item:last-child {
            border-bottom: 1px solid $color-gray-light;
        }

        &-service {
            padding: 20px 15px;
            width: 90%;
            font-size: $font-26px;
            line-height: $lh-124;
            border-right: 1px solid $color-gray-light;
        }

        &-price {
            padding: 20px 15px;
            width: 15%;
            font-family: $ff-Inter;
            font-size: $font-17px;
            line-height: $lh-21;
            text-align: right;
        }
    }
}

.contacts {
    background-color: $color-blue;
    color: $color-white;

    &__text {
        margin: 20px 0 30px 0;
        font-family: $ff-Inter;
        font-weight: $fw-300;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }
}

.footer {
    font-family: $ff-Inter;
    font-weight: $fw-300;
    font-size: $font-21px;
    line-height: $lh-162;
    background-color: $color-blue;
    color: $color-white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.social-media {
    display: flex;

    a {
        width: 40px;
        height: 40px;

        img {
            width: $w100;
        }
    }
}

@media screen and (max-width: 1250px){
    .container {
        margin: $container-mr-1250px;
    }
}

@media screen and (max-width: 1150px){
    .container {
        margin: $container-mr-1150px;
        padding: $container-pd-1150px;
    }

    h2 {
        font-size: $font-55px;
    }

    .contact-details a {
        font-size: $font-22px;
    }

    .offer {

        &__title {
            font-size: $font-65px;
        }

        &__text {
            font-size: $font-18px;
        }

        &__image {
            margin-top: 60px;
            width: 320px;
        }
    }

    .about {

        .container {

            h3 {
                width: $w100;
                font-size: $font-31px;
            }

            div {
                width: $w100;
            }
        } 
    }

    .services {

        &__service-title {
            font-size: $font-31px;
        }

        &__btn {
            width: 20%;
        }
    }

    .quote {

        &__item {
            font-size: $font-31px;
        }
    }

    .prices {

        &__table {

            &-service {
                font-size: $font-22px;
            }    
        }
    }
}

@media screen and (max-width: 952px){ 

    body {
        font-size: $font-17px;
    }

    h2 {
        font-size: $font-50px;
    }


    .btn_big {
        padding: 16px 35px;
        font-size: $font-14px;
    }

    .btn_small {
        padding: 14px 25px;
        font-size: $font-12px;
    }

    .header {

        &__link {
            font-size: $font-15px;
        }
    }

    .offer {

        &__title {
            font-size: $font-58px;
        }

        &__image {
            margin-top: 40px;
            width: 280px;
        }
    }

    .about {

        .container {

            h3 {
                margin-bottom: 35px;
                font-size: $font-28px;
                line-height: $lh-38;
            }

            div {
                margin-bottom: 25px;
            }
        }
         
    }

    .contact-details {
        align-items: center;

        a {
            font-size: $font-20px;
        }  

        &-img {
            margin-right: 6px;
            width: 30px;
            height: 30px;
        }
    }
    

    .services {
        
        &__service-title {
            width: 25%;
            font-size: $font-28px;
        }

        &__service-text {
            width: 45%;
            font-size: $font-15px;
        }

        &__btn {
            max-height: 48px;
        }
    }

    .quote {

        &__item {
            font-size: $font-28px;
        }

        &__author {
            font-size: $font-15px;
        }
    }

    .prices {

        &__table {

            &-service {
                font-size: $font-20px;
            }    

            &-price {
                width: 20%;
                font-size: $font-15px;
            }
        }
    }

    .footer {
        font-size: $font-15px;
    }
}

@media screen and (max-width: 815px){ 

    body {
        font-size: $font-15px;
    }

    h2 {
        font-size: $font-40px;
    }

    .btn_big {
        padding: 14px 30px;
    }

    .container {
        padding: $container-pd-815px;
    }

    .header {

        nav {
            justify-content: center;
        }

        &__menu {
            display: none;
        }
        
    }
    .offer {
       
        .container {
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-size: $font-52px;
        }

        &__info {
            width: $w100;
            text-align: center;
        }

        &__text {
            margin: 30px 0;
        }

        &__image {
            margin-top: 30px;
        }
    }

    .contact-details {
        justify-content: center;

        &-img {
            width: 25px;
            height: 25px;
        }
    }

    .about {

        .container {

            h3 {
                margin-bottom: 30px;
                font-size: $font-25px;
                line-height: $lh-35;
            }

            div {
                margin-bottom: 20px;
            }
        }
    }

    .services {

        &__service {
            padding: 20px 0;
            flex-direction: column;

            &-title {
                width: $w100;
                font-size: $font-25px;
            }

            &-text {
                margin: 18px 0;
                width: $w100;
            }
        }

        &__btn {
            width: fit-content;
        }
    }

    .quote {

        &__item {
            margin-bottom: 25px;
            font-size: $font-25px;
        }
    }

    .prices {

        &__subtitle {
            font-size: $font-15px;
        }

        &__table {
            margin-top: 20px 0;

            &-title {
                font-size: $font-15px;
            }

            &-service {
                font-size: $font-17px;
            }

            &-price {
                width: 30%;
            }
        }
    }

    .social-media {

        a {
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 615px){
    .offer {

        &__title {
            font-size: $font-48px;
        }

        &__image {
            width: 250px;
        }
    }

    .modal {

        &__wrap {
            padding: 20px;
            max-width: 350px;
        }

        h2 {
            font-size: $font-30px;
        }

        &__field {
            margin: 10px 0;
            font-size: $font-15px;
        }

        textarea {
            width: 93%;
        }

        &-success {
            font-size: $font-15px;
        }
    }
 }

 @media screen and (max-width: 570px){ 

    .container {
        padding: $container-pd-570px;
    }

    h2 {
        font-size: $font-32px;
    }

    .contact-details {
        margin-bottom: 8px;

        a {
            font-size: $font-17px;
        }
    }
    .offer {

        &__title {
            font-size: $font-40px;
            line-height: $lh-45;
        }

        &__text {
            margin: 15px 0;
        }

        &__image {
            width: 200px;
        }
    }

    .quote {

        &__item {
            margin-bottom: 20px;
            font-size: $font-18px;
        }

        &__author {
            font-size: $font-13px;
        }
    }

    .contacts {

        &__info {
            flex-direction: column;
        }
    }
 }