body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
}

.container {
    margin: 0 135px;
    padding: 60px 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 65px;
    font-weight: 400;
}

.btn {
    padding: 16px 35px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: none;
    text-transform: uppercase;
    transform: scale(1);
    transition: all 0.5s linear 0s;
    cursor: pointer;

    &_white {
        background-color: rgb(249, 249, 251);
        color: #333;
    }

    &_dark {
        background-color: #333;
        color: white;
    }

    &_small {
        padding: 16px 35px;
        font-size: 14px;
    }

    &_big {
        padding: 18px 45px;
        font-size: 16px;
        line-height: 1.62;
    }

    &-up {
        width: 40px;
        display: none;
        position:fixed;
        right: 15px;
        bottom: 15px;
      
        img {
            width: 100%;
        }
    }
}

.contact-details {
    display: flex;

        &-img {
            margin-right: 8px;
            width: 40px;
            height: 40px;
        }

        img {
            width: 100%;
        }
        
        a {
            font-size: 26px;
            color: white;
        }
}

.contact-details:hover, .btn:hover, .social-media a:hover, .header__link:hover {
    opacity: 0.5;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 300;
    overflow-x: hidden;
    overflow-y: auto;
    
    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.23,1,.32,1);

    &__wrap {
        padding: 40px;
        max-width: 480px;
        background: #fff;
        min-width: 200px;
        margin: 30px auto 30px;
        overflow: auto;
        position: relative;
        border-radius: 8px;
        transition-property: margin;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.23,1,.32,1);
       // box-shadow: 0 20px 40px 0 rgb(0 0 0 / 10%);
    }

    &__field {
        margin: 18px 0;
        padding: 7px 10px;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 155%;
        color: #8787a2;
        border: 1px solid #e0e0e7;
        height: auto;
        border-radius: 6px;
    }

    &__close {
        width: 16px;
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: 15px;
        right: 15px;
        transition-property: color;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(.23,1,.32,1);

        img {
            width: 100%;
        }
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 15px;
        font-family: 'Inter', sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 130%;
    }

    textarea {
        width: 95%;
        //height: auto;
        resize: none;
        //border: 1px solid #e0e0e7!important;
        overflow: auto;
    }

    &__btn {
        width: 100%;
        color: #fff;
        background-color: #333;
    }

    &__error {
        display: none;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }

    &-success {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        color: #333;
    }
}

.header {
    // padding: 50px 0;
    background-color: rgb(37, 53, 81);
    color: white;

    &__menu {
        display: flex;
        justify-content: space-between;
       
    }

    &__link {
        padding: 20px 30px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 17px;
        text-transform: uppercase;
        color: white;
    }
}

.offer {
    color: white;
    background-color: rgb(37, 53, 81);

    .container {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }

    &__info {
        width: 60%;
    }

    &__title {
        font-size: 75px;
        font-weight: 400;
        line-height: 75px;
    }

    &__text {
        margin: 60px 0;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 21px;
    }

    &__image {
        margin-top: 100px;
        width: 360px;
        max-height: 756px;

        img {
            width: 100%;
        }
    }
}

.about {
    background-color: #e0e0db;

    .container {
        h3 {
            margin-bottom: 45px;
            width: 65%;
            font-size: 36px;
            font-weight: 400;
            line-height: 46px;
        }
    
        div {
            margin-bottom: 35px;
            width: 65%;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            font-size: 17px;
        }
    }

    &__btn {
        margin-top: 10px;
    }
}

.services {
    background-color: rgb(37, 53, 81);
    color: white;

    h2 {
        padding-bottom: 30px;
        border-bottom: 2px solid white;
    }

    &__service {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid white;

        &-title {
            width: 20%;
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
        }

        &-text {
            width: 50%;
            font-family: 'Inter', sans-serif;
            font-size: 17px;
            line-height: 162%;
        }
    }

    &__btn {
        width: 18%;
        max-height: 58px;
    }
}

.quote {
    background-color: #e0e0db;

    &__item {
        margin-bottom: 45px;
        font-weight: 400;
        font-size: 36px;
        line-height: 124%;
    }

    &__author {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 17px;
        line-height: 162%;
    }
}

.prices {
    background-color: rgb(37, 53, 81);
    color: white;

    &__subtitle {
        margin-top: 20px;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 17px;
        line-height: 162%;
    }

    &__table {
        margin: 50px 0;

        &-title {
            padding: 20px 15px;
            font-family: 'Inter', sans-serif;
            font-size: 17px;
            line-height: 21px;
        }

        // &-title:last-child {
        //     // width: 90%;
        //     border-left: 1px solid #bfbdbd;
        // }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-right: 1px solid #e0dada;
            border-left: 1px solid #bfbdbd;
            border-top: 1px solid #bfbdbd;
        }

        &-item:last-child {
            border-bottom: 1px solid #bfbdbd;
        }

        &-service {
            padding: 20px 15px;
            width: 90%;
            font-size: 26px;
            line-height: 124%;
            border-right: 1px solid #bfbdbd;
        }

        &-price {
            padding: 20px 15px;
            width: 15%;
            font-family: 'Inter', sans-serif;
            font-size: 17px;
            line-height: 21px;
            text-align: right;
        }
    }
}

.contacts {
    background-color: rgb(37, 53, 81);
    color: white;

    &__text {
        margin: 20px 0 30px 0;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }
}

.footer {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 162%;
    background-color: rgb(37, 53, 81);
    color: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.social-media {
    display: flex;

    a {
        width: 40px;
        height: 40px;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1250px){
    .container {
        margin: 0 50px;
    }
}

@media screen and (max-width: 1150px){
    .container {
        margin: 0 20px;
        padding: 40px 15px;
    }

    h2 {
        font-size: 55px;
    }

    .contact-details a {
        font-size: 22px;
    }

    .offer {
        &__title {
            font-size: 65px;
        }

        &__text {
            font-size: 18px;
        }

        &__image {
            margin-top: 60px;
            width: 320px;
        }
    }

    .about {
        .container {
            h3 {
                width: 100%;
                font-size: 31px;
            }

            div {
                width: 100%;
            }
        } 
    }

    .services {

        &__service-title {
            font-size: 31px;
        }

        &__btn {
            width: 20%;
        }
    }

    .quote {
        &__item {
            font-size: 31px;
        }
    }

    .prices {
        &__table {
            &-service {
                font-size: 22px;
            }    
        }
    }
}

@media screen and (max-width: 952px){ 

    body {
        font-size: 17px;
    }

    h2 {
        font-size: 50px;
    }


    .btn_big {
        padding: 16px 35px;
        font-size: 14px;
    }

    .btn_small {
        padding: 14px 25px;
        font-size: 12px;
    }

    .header {
        &__link {
            font-size: 15px;
        }
    }

    .offer {
        &__title {
            font-size: 58px;
        }

        &__image {
            margin-top: 40px;
            width: 280px;
        }
    }

    .about {
        .container {
            h3 {
                margin-bottom: 35px;
                font-size: 28px;
                line-height: 38px;
            }

            div {
                margin-bottom: 25px;
            }
        }
         
    }

    .contact-details {
        align-items: center;
        a {
            font-size: 20px;
        }  

        &-img {
            margin-right: 6px;
            width: 30px;
            height: 30px;
        }
    }
    

    .services {
        &__service-title {
            width: 25%;
            font-size: 28px;
        }

        &__service-text {
            width: 45%;
            font-size: 15px;
        }

        &__btn {
            max-height: 48px;
        }
    }

    .quote {
        &__item {
            font-size: 28px;
        }

        &__author {
            font-size: 15px;
        }
    }

    .prices {
        &__table {
            &-service {
                font-size: 20px;
            }    

            &-price {
                width: 20%;
                font-size: 15px;
            }
        }
    }

    .footer {
        font-size: 15px;
    }
}

@media screen and (max-width: 815px){ 

    body {
        font-size: 15px;
    }

    h2 {
        font-size: 40px;
    }

    .btn_big {
        padding: 14px 30px;
    }

    .container {
        padding: 20px 10px;
    }

    .header {
        nav {
            justify-content: center;
        }

        &__menu {
            display: none;
        }
        
    }
    .offer {
       
        .container {
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-size: 52px;
        }

        &__info {
            width: 100%;
            text-align: center;
        }

        &__text {
            margin: 30px 0;
        }

        &__image {
            margin-top: 30px;
        }
    }

    .contact-details {
        justify-content: center;

        &-img {
            width: 25px;
            height: 25px;
        }
    }

    .about {
        .container {
            h3 {
                margin-bottom: 30px;
                font-size: 25px;
                line-height: 35px;
            }

            div {
                margin-bottom: 20px;
            }
        }
    }

    .services {

        &__service {
            padding: 20px 0;
            flex-direction: column;

            &-title {
                width: 100%;
                font-size: 25px;
            }

            &-text {
                margin: 18px 0;
                width: 100%;
            }
        }

        &__btn {
            width: fit-content;
        }
    }

    .quote {
        &__item {
            margin-bottom: 25px;
            font-size: 25px;
        }
    }

    .prices {

        &__subtitle {
            font-size: 15px;
        }

        &__table {
            margin-top: 20px 0;

            &-title {
                font-size: 15px;
            }

            &-service {
                font-size: 17px;
            }

            &-price {
                width: 30%;
            }
        }
    }

    .social-media {
        a {
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 615px){
    .offer {

        &__title {
            font-size: 48px;
        }

        &__image {
            width: 250px;
        }
    }

    .modal {

        &__wrap {
            padding: 20px;
            max-width: 350px;
        }

        h2 {
            font-size: 30px;
        }

        &__field {
            margin: 10px 0;
            font-size: 15px;
        }

        textarea {
            width: 93%;
        }

        &-success {
            font-size: 15px;
        }
    }
 }

 @media screen and (max-width: 570px){ 

    .container {
        padding: 15px 10px;
    }

    h2 {
        font-size: 32px;
    }

    .contact-details {
        margin-bottom: 8px;

        a {
            font-size: 17px;
        }
    }
    .offer {

        &__title {
            font-size: 40px;
            line-height: 45px;
        }

        &__text {
            margin: 15px 0;
        }

        &__image {
            width: 200px;
        }
    }

    .quote {

        &__item {
            margin-bottom: 20px;
            font-size: 18px;
        }

        &__author {
            font-size: 13px;
        }
    }

    .contacts {

        &__info {
            flex-direction: column;
        }
    }
 }