$container-pd-big: 60px 15px;
$container-mr-big: 0 135px;
$container-mr-1250px: 0 50px;
$container-mr-1150px: 0 20px;
$container-pd-1150px: 40px 15px;
$container-pd-815px: 20px 10px;
$container-pd-570px: 15px 10px;

$w100: 100%;

$color-black: #333;
$color-gray: #8787a2;
$color-gray-light: #e0e0db;
$color-white: #F9F9FB;
$color-blue: #253551;
$color-transparent: transparent;

$ff-Display: 'Playfair Display', serif;
$ff-Inter: 'Inter', sans-serif;

$fw-300: 300;
$fw-400: 400;

$font-12px: 12px;
$font-13px: 13px;
$font-14px: 14px;
$font-15px: 15px;
$font-16px: 16px;
$font-17px: 17px;
$font-18px: 18px;
$font-20px: 20px;
$font-21px: 21px;
$font-22px: 22px;
$font-25px: 25px;
$font-26px: 26px;
$font-28px: 28px;
$font-30px: 30px;
$font-31px: 31px;
$font-32px: 32px;
$font-36px: 36px;
$font-40px: 40px;
$font-48px: 48px;
$font-50px: 50px;
$font-52px: 52px;
$font-55px: 55px;
$font-58px: 58px;
$font-65px: 65px;
$font-75px: 75px;

$lh-162: 162%;
$lh-155: 155%;
$lh-130: 130%;
$lh-124: 124%;
$lh-75: 75px;
$lh-46: 46px;
$lh-45: 45px;
$lh-40: 40px;
$lh-38: 38px;
$lh-35: 35px;
$lh-21: 21px;
$lh-1-62: 1.62;


